/* Input */
#input-component{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
}
/* Button */
#button-component{
    border: 0;
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
}

#button-component:hover{
    background-color: orange;
}


/* Header */
.main-header{
    
    border-bottom: 2px solid gray;
}

.header-right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right h6{
    color: gray;
    font-weight: 600;
}

/* SideBar */
.sidebar a{
    color: black;
    text-decoration: none;

}
/* title */
.menu-title{
    color: gray;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #b6b3b3;
}

.menu-items{
    list-style: none;
}

.item a{
    padding: 16px;
    display: inline-block;
    width: 100%;

}

.item a:hover{
    background-color: turquoise;
    color: gray;
}